In [23]:
import numpy as np
import pandas as pd
from numpy.linalg import inv

In [24]:
df1 = pd.read_excel('OIH.xls')
df2 = pd.read_excel('RKH.xls')

df = pd.merge(df1, df2, on='Date', suffixes=('_OIH', '_RKH'))
df.set_index('Date', inplace=True)

In [25]:
df3 = pd.read_excel('RTH.xls')
df = pd.merge(df, df3, on='Date')
df.rename(columns={"Adj Close": "Adj Close_RTH"}, inplace=True)
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)

In [26]:
dailyret = df.loc[:, ('Adj Close_OIH', 'Adj Close_RKH', 'Adj Close_RTH')].pct_change()
dailyret.rename(columns={"Adj Close_OIH": "OIH", "Adj Close_RKH": "RKH", "Adj Close_RTH": "RTH"}, inplace=True)
excessRet = dailyret-0.04/252
M = 252*excessRet.mean()
M

OIH    0.139568
RKH    0.029400
RTH   -0.007346
dtype: float64

In [27]:
C = 252*excessRet.cov()
C

          OIH       RKH       RTH
OIH  0.110901  0.020014  0.018255
RKH  0.020014  0.037165  0.026893
RTH  0.018255  0.026893  0.041967

In [ ]:
F = np.dot(inv(C), M)
F

array([ 1.2919082 ,  1.17226473, -1.48821285])

In [ ]:
g = 0.04+np.dot(F.T, np.dot(C, F))/2
g

np.float64(0.1528535789840559)

In [31]:
S = np.sqrt(np.dot(F.T, np.dot(C, F)))
S

np.float64(0.4750864742003416)