In [3]:
import numpy as np
import pandas as pd

In [4]:
n = 20
years = np.arange(1, n + 1)
years

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [5]:
P = 10000
r = 0.15
n = 10
A = 1000

years = np.arange(1, n + 1)
fv_principal = P * (1 + r)**years
total_contrib = A * 12 * years
monthly_r = (1 + r)**(1/12) - 1
fv_annuity = A * (((1 + monthly_r)**(12*years) - 1)/monthly_r)
total_value = fv_principal + fv_annuity

df = pd.DataFrame({
    "Year": years,
    "Principal FV": fv_principal,
    "Total Contributions": total_contrib,
    "Annuity FV": fv_annuity,
    "Total Future Value": total_value
}).round(2)

df

   Year  Principal FV  Total Contributions  Annuity FV  Total Future Value
0     1      11500.00                12000    12804.19            24304.19
1     2      13225.00                24000    27529.00            40754.00
2     3      15208.75                36000    44462.54            59671.29
3     4      17490.06                48000    63936.11            81426.18
4     5      20113.57                60000    86330.72           106444.29
5     6      23130.61                72000   112084.51           135215.12
6     7      26600.20                84000   141701.38           168301.58
7     8      30590.23                96000   175760.77           206351.00
8     9      35178.76               108000   214929.08           250107.84
9    10      40455.58               120000   259972.63           300428.21

In [1]:
# eps ttm
rate = 0.15

eps = 2.61

eps_growth = 22.6

pe = eps_growth * 2

eps_future = 2.61 * (1 + eps_growth / 100)**10

price_future = eps_future * pe

current_price = price_future / (1 + rate)**10

current_price / 2

111.86011069760684